body {
    background-color: #574C49;
}

.modall {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    text-align: center;
}

.w-100 {
    width: 250px;
    float: left;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100%;
}

.portfolio {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-block: 0;
    min-height: 100vh;
    flex: 1 1 60%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
    margin-top: 5%;
}

.portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 1;
}

.portfolio-item.large {
    grid-row: span 3;
    grid-column: span 1;
}

.portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio-item.small:hover {
    opacity: 0.7;
}

.portfolio-item.medium:hover {
    opacity: 0.7;
}

.portfolio-item.large:hover {
    opacity: 0.7;
}

.sjena {
    opacity: 0.3;
}

.title {
    width: 50%;
    height: 50%;
}

section {
    width: 500px;
    height: 500px;
    overflow-wrap: normal;
    position: relative;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text1 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190px;
    position: relative;
    margin-top: -7%;
    text-align: justify;
    text-indent: 7%;
    font-weight: normal;
}

.text2 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190px;
    position: relative;
    margin-top: -5%;
    text-align: justify;
    text-indent: -1%;
    font-weight: normal;
}

.text3 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190px;
    position: relative;
    margin-top: -4%;
    text-align: justify;
    text-indent: 7%;
    font-weight: normal;
}

.text4 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190px;
    position: relative;
    margin-top: 85%;
    text-align: justify;
    text-indent: 12%;
    font-weight: normal;
}

.text5 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 130px;
    position: relative;
    margin-top: 3%;
    text-align: justify;
    text-indent: 7%;
    font-weight: normal;
}

.text6 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190px;
    position: relative;
    margin-top: 63%;
    text-align: justify;
    text-indent: 3%;
    font-weight: normal;
}

.text7 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190px;
    position: relative;
    margin-top: -5%;
    text-align: justify;
    text-indent: 3%;
    font-weight: normal;
}

.text8 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190px;
    position: relative;
    margin-top: 45%;
    text-align: justify;
    text-indent: 7%;
    font-weight: normal;
}

.text9 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190px;
    position: relative;
    margin-top: 65%;
    text-align: justify;
    text-indent: 7%;
    font-weight: normal;
}

.text10 {
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190px;
    position: relative;
    margin-top: 50%;
    text-align: justify;
    text-indent: 13%;
    font-weight: normal;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}